<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Spelling Bee Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="/javascript/socket.io.js" type="application/javascript"></script>

</head>
  
<body>

    <div class="gameContainer">
        
        <h2> Spelling Bee Game </h2>
        <p> Room ID: <%= id %> </p>
        <p> Spell the word correctly to move on. </p>

        <div class="game">
            <div id="points">Points: 0</div> 
            <img id="speak" src="/media/speaker.png" width="100" height="100"> 
            <p> <input type="text" name="answer" id="answer"> </p>  
        </div>

        <script> //here such that the playerlist can be built
            var roomID = <%- JSON.stringify(id) %>
            var username = <%- JSON.stringify(username) %>
            const socket = io({
                query: {
                    room: roomID,
                    username: username
                }
            });
        </script>

        <div class="playerList">
            <b> Players </b>
            <ul id="list">
                <!-- <li id="self"> <i> <%= username %> (you) </i> </li> -->
            </ul>
        </div>

    </div>

    <script src="/javascript/roomLogic.js" type="application/javascript"></script>

</body>
</html>     