<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Spelling Bee Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="/javascript/socket.io.js"></script>

</head>
  
<body>

    <div class="gameContainer">
        
        <h2> Spelling Bee Game </h2>
        <p> Spell the word correctly to move on. </p>

        <div class="game">
            <form method="post" enctype="application/x-www-form-urlencoded" action="/login">
                <p> Username: <input type="text" name="username" id="username"> </p>
                <p> RoomID: <input type="text" name="room" id="room"> </p>
                <input type="submit" value="Enter room" id="enter"/>
            </form>
        </div>

    </div>

    <script>
        // document.getElementById("enter").addEventListener('click', function(){
        //     var username = document.getElementById('username').value;
        //     // window.location.href = "/game/" + document.getElementById("room").value;
        // })
    </script>

</body>
</html>