html {
    background-color: #000000; 
}

body {
    color: #ffffff;
}

.gameContainer {
    text-align: center;
}

.game {
    border: 1px solid #ffffff;
    padding: 20px;
}

#points {
    text-align: left;
}

.playerList {
    text-align: center;
    width: 10%;
    border: 1px solid #ffffff;
    margin-top: 10px;
    padding: 5px;
}

ul{
    margin-top: 5px;
    padding-left: 15px;
    list-style-type: none;
}

