html {
    background-color: #000000; 
}

body {
    color: #ffffff;
}

.gameContainer {
    text-align: center;
}

.game {
    border: 1px solid #ffffff;
    padding: 20px;
}

#points {
    text-align: left;
}

.playerList {
    border: 1px solid #ffffff;
    margin-top: 10px;
}